.listado {
    gap:40px;
}
ul {
    list-style: none;
}

//listadoCards
.card {
   background-color: $lightGray;
   max-width: 365px;
   width:100%;
   border-radius:8px;
   padding:20px;
   box-shadow: 0 0 10px rgba(0,0,0,.5);
   transition: transform 0.2s;
   text-align: left;
    .itemTitle {
        font-size: 20px;
        font-weight: 700;
        color: $black;
        margin-top: 4px;
    }
    .itemDescription {
        font-size: 15px;
        font-weight: 400;
        color: $gray;
        margin: 9px 0 5px 0;
    }
    .itemPrice {
        font-size: 20px;
        font-weight: 700;
        color: $gray;
        margin-top: 18px;
    }
    .itemImg {
        width: 100%;
        height: 232px;
        border-radius: 8px;
        object-fit: cover;
        margin:0 0 10px 0;
    }
    &:hover{
        transform: scale(1.1);
    }
}

//cardButton
.addToCartButton {
    margin-top: 50px;
    width:100%;
    height:54px;
    padding:15px 50px;
    border:none;
    background-color: #000000;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    color: $lightGray;
    font-weight: 400;
    font-size: 15px;
    transition: .3s ease-in-out;
    .icon {
        margin-left: 12px;
        height:20px;
        border-radius: unset;
        background: transparent;
        height:25px;
        padding:0;
        }
        &:hover{
            cursor: pointer;
            background-color: $red;
            transform: scale(105%);
        }
    }