.input{
   margin-left: 30px;
    height: 40px;
    min-height: 40px;
    outline: none;
    border-radius: 50px;
    border: none;
    background: $lightGray;
    width: 220px;
    color: $black;
    padding: 15px 30px 15px 40px;
    z-index: 900;
    position: fixed;
    margin-top: 27px;
    
  }
  .searchButton{
    z-index: 901;
    position: fixed;
    color: $black;
    left: 35px;
    top: 35px;
    border:none;
    background: transparent;
    &:hover{
      cursor: pointer;
      transform: scale(105%);
  }
}